header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e2e2e2 0%, #CF9FFF 4%, #CF9FFF 96%, #e2e2e2 100%)    
}
body {
    margin: 0;
    background-color: #F3E5FF;
    
}
.Header_Title {
    width: 221.77px;
    height: 64.63px;
    text-align: center;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Header_Image {
    transform: scale(1.1);
}
.subheader a {
    display: block;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.subheader {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #e2e2e2 0%,  #DBB8FF 4%, #DBB8FF 96%, #e2e2e2 100%);    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.about h1{
    text-align: center;;
}
.about img {
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}
.about-paragraph {
    text-align: justify;
    max-width: 1000px;
    margin: auto;
    font-size: larger;
    margin-top: 0px; 
    margin-bottom: 20px;
}

.about-list {
    text-align: justify;
    max-width: 1000px;
    margin: auto;
    font-size: larger;
    margin-top: 0px; 
    margin-bottom: 20px;
}

label[for="sortOrder"] {
  display: inline-block;
  margin: 12px 8px 0 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#sortOrder {
  display: inline-block;
  margin-top: 8px;
  padding: 6px 28px 6px 10px;
  font: 14px Arial, sans-serif;
  border: 1.5px solid black;
  border-radius: 8px;
  background: #DBB8FF;
  cursor: pointer;
}

#sortOrder:focus {
  outline: 2px solid #CF9FFF;
  outline-offset: 2px;
}



@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 5px;
        text-align: center;
    }

    .Header_Image {
        transform: scale(1);
        margin-bottom: 10px;
    }

    .Header_Title {
        width: auto;
        height: auto;
        font-size: medium;
    }

    .subheader {
        display: flex;
        justify-content: space-around;
        padding: 5px 0;       
    }

    .subheader a {
        font-size: 14px;
        padding: 5px;
        display: inline;
    }

    .about img {
        display: block;
        margin: 20px auto;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    .about-paragraph {
        padding: 0 15px;
        font-size: medium;
    }

    .about-list {
    padding-left: 25px;
    margin: 10px 15px;
    }

    .about-list li {
    margin-bottom: 8px;
    font-size: medium;
    }

}


