header {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #e2e2e2 0%, #CF9FFF 4%, #CF9FFF 96%, #e2e2e2 100%)    
}
body {
    margin: 0;
    background-color: #EDE4F3;
    
}
.Header_Title {
    width: 221.77px;
    height: 64.63px;
    text-align: center;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif
}
.Header_Image {
    transform: scale(1.1);
}
.subheader a {
    display: block;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.subheader {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(to right, #e2e2e2 0%,  #DBB8FF 4%, #DBB8FF 96%, #e2e2e2 100%);    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
